<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Friends!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/friend-icon.png">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to find some friends!</p>

        <p>All you need to do is answer a few questions.</p>

        <div class="input-field">
            <h3 id="question-num">Question 1</h3>
            <h5 id="question-content">I like noodles</h5>
            <select id="question">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>
        </div>
        <br>
        <div>
            <button id="answerButton">Answer
            </button>
            <input id="nameInput" placeholder="Your name" style="display:none" />
            <button id="submitButton" style="display:none">Find a friend!
            </button>
        </div>
    </div>

    <div id="FriendModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Your New Best Friend</h1>
                </div>
                <div class="modal-body">
                    <h2 id="bestFriend"></h2>
                    <img id="bestImage" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close-modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
    {{!-- <script src="./js/app.js"></script> --}}
    <script>
        console.log("Client side javascript file is loaded");

        $("#close-modal").on("click", () => $("#FriendModal").hide());

        var answers = [];
        var counter = 0;

        var questions = [
            {
                id: 0,
                num: "Question 1",
                content: "I like noodles"
            },
            {
                id: 1,
                num: "Question 2",
                content: "I like peas"
            },
            {
                id: 2,
                num: "Question 3",
                content: "I like tomatoes"
            },
            {
                id: 3,
                num: "Let's find some friends!",
                content: "Click the button to submit!"
            }
        ];

        $("#answerButton").on("click", e => {
            if (counter === questions.length - 2) {
                $("#answerButton").hide();
                $("#question").hide();
                $("#submitButton").show();
                $("#nameInput").show();
            }
            answers.push(parseInt($("#question").val()));
            counter++;
            $("#question-num").html(questions[counter].num);
            $("#question-content").html(questions[counter].content);
        });

        $("#submitButton").on("click", e => {
            var userName = $("#nameInput").val();
            var userData = {
                name: userName,
                answers: answers
            };
            console.log(userData);

            $.post("/api/friends", userData, function (data) {
                console.log(data);
                $("#bestFriend").text(data.matchName);
                $("#bestImage").attr("src", data.matchPhoto);
                $("#FriendModal").show();
            });
        });
    </script>
</body>

</html>